<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <div class="footer bg-primary" style="color: #c8dcf8;" th:fragment="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="row">
                        <div class="col-12 text-center">
                            27, Nguyễn Tất Thành, tp. Buôn Ma Thuột, Đăk Lăk
                        </div>
                        <div class="col-12 text-center">
                            Tel: 098 539 0133
                        </div>
                        <div class="col-12 text-center font-weight-bold">
                            vudtpk00714@fpt.edu.vn
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row justify-content-center">
                        <div class="col-6 col-sm-4 mt-3">
                            <div class="row">
                                <div class="col-3 text-center h3">
                                    <i class="fa fa-facebook-square"></i>
                                </div>
                                <div class="col-3 text-center h3">
                                    <i class="fa fa-twitter-square"></i>
                                </div>
                                <div class="col-3 text-center h3">
                                    <i class="fa fa-google-plus-square"></i>
                                </div>
                                <div class="col-3 text-center h3">
                                    <i class="fa fa-linkedin-square"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>