<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
  <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse" th:fragment="header-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 ml-auto">
          <form class="input-icon my-3 my-lg-0">
            <input type="search" class="form-control header-search" placeholder="Tìm kiếm&hellip;" tabindex="1">
            <div class="input-icon-addon">
              <i class="fe fe-search"></i>
            </div>
          </form>
        </div>
        <div class="col-lg order-lg-first">
          <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
            <li class="nav-item">
              <a href="/index.html" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/index') or #strings.endsWith(#httpServletRequest.requestURI,'/')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-home"></i> Trang chủ</a>
            </li>
            <li class="nav-item">
              <a href="/job" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/job')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-briefcase"></i> Tuyển dụng</a>
            </li>
            <li class="nav-item">
              <a href="/company" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/company')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-map-pin"></i> Công ty</a>
            </li>
            <li class="nav-item">
              <a href="/product" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/product')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-shopping-bag"></i> Sản phẩm - Dịch vụ</a>
            </li>
            <li class="nav-item">
              <a href="/contact" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/contact')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-info"></i> Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse" th:fragment="admin-header-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 ml-auto">
          <form class="input-icon my-3 my-lg-0">
            <input type="search" class="form-control header-search" placeholder="Tìm kiếm&hellip;" tabindex="1">
            <div class="input-icon-addon">
              <i class="fe fe-search"></i>
            </div>
          </form>
        </div>
        <div class="col-lg order-lg-first">
          <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
            <li class="nav-item">
              <a href="/admin" th:class="${#strings.endsWith(#httpServletRequest.requestURI,'/admin')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-home"></i> Tổng quan</a>
            </li>
            <li class="nav-item">
              <a href="/admin/user" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/admin/user')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-briefcase"></i> Tài khoản</a>
            </li>
            <li class="nav-item">
              <a href="/admin/profile" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/admin/profile')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-briefcase"></i> Hồ sơ</a>
            </li>
            <li class="nav-item">
              <a href="/admin/company" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/admin/company')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-map-pin"></i> Công ty</a>
            </li>
            <li class="nav-item">
              <a href="/admin/job" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/admin/job')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-shopping-bag"></i> Tuyển dụng</a>
            </li>
            <li class="nav-item">
              <a href="/admin/report" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/admin/contact')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-life-buoy"></i> Giải quyết khiếu nại <span th:if="${@reportService.getReportCount() > 0}" class="tag tag-red tag-rounded ml-1">[[${@reportService.getReportCount()}]]</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse" th:fragment="ca-header-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg order-lg-first">
          <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
            <li class="nav-item">
              <a href="/ca/home" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/ca/home') or #strings.endsWith(#httpServletRequest.requestURI,'/ca')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-home"></i> Tổng quan</a>
            </li>
            <li class="nav-item">
              <a href="/ca/search/profile" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/ca/search/profile')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-search"></i> Tìm kiếm nhân sự</a>
            </li>
            <li class="nav-item">
              <a href="/ca/info" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/ca/info')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-briefcase"></i> Thông tin</a>
            </li>
            <li class="nav-item">
              <a href="/ca/product" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/ca/product')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-map-pin"></i> Sản phẩm</a>
            </li>
            <li class="nav-item">
              <a href="/ca/job" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/ca/job')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-shopping-bag"></i> Tuyển dụng</a>
            </li>
            <li class="nav-item">
              <a href="/ca/post" th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/ca/post')} ? 'nav-link active' : 'nav-link'"><i class="fe fe-info"></i> Bài đăng</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>