<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <div class="py-3 py-md-5" style="background-image: url(/assets/images/rawpixel-653764-unsplash.jpg); background-size: cover; background-attachment: fixed; background-position: center;"
        th:fragment="search-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12">
                    <form class="card my-3 my-md-5 bg-blue-lighter" th:action="@{/job/search}" method="GET">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 px-3">
                                    <h4>Cùng bạn tìm kiếm công việc mơ ước</h4>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập chức danh, vị trí, kỹ năng"
                                            name="keyword">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <select class="form-control" multiple id="tag_input" value="" name="tag">
                                            <option value="">Tất cả ngành nghề</option>
                                        </select>
                                    </div>
                                    <script>
                                        require(['jquery', 'selectize'], function ($, selectize) {
                                            $(document).ready(function () {
                                                $('#tag_input').selectize({
                                                    valueField: 'tagId',
                                                    labelField: 'title',
                                                    searchField: 'title',
                                                    plugins: ['remove_button'],
                                                    delimiter: ',',
                                                    load: function (query, callback) {
                                                        if (!query.length) return callback();
                                                        $.ajax({
                                                            url: '/api/tag/search',
                                                            type: 'GET',
                                                            data: {
                                                                q: query
                                                            },
                                                            error: function () {
                                                                callback();
                                                            },
                                                            success: function (res) {
                                                                console.log(res);
                                                                callback(res);
                                                            }
                                                        });
                                                    }
                                                });
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <select class="form-control" name="location">
                                            <option value="">Tất cả địa điểm</option>
                                            <option th:each="province : ${provinces}" th:value="${province.pocId}"
                                                th:text="${province.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <div class="form-group">
                                        <input type="submit" class="form-control btn btn-primary" value="Tìm kiếm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>