<!doctype html>
<html lang="vi" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body class="">
    <div class="page">
        <div class="page-main">
            <div th:replace="fragments/header-top :: admin-header-top"></div>
            <div th:replace="fragments/header-bottom :: admin-header-bottom"></div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Tài khoản đăng ký</h3>
                                </div>
                                <div id="chart-user-count" style="height: 10rem"></div>
                                <div class="table-responsive 0-auto" style="height: 21rem">
                                    <table class="table card-table table-striped table-vcenter">
                                        <thead>
                                            <tr>
                                                <th>Tài khoản</th>
                                                <th>Email</th>
                                                <th>Ngày đăng ký</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="user : ${users}">
                                                <td>[[${user.username}]]</td>
                                                <td>[[${user.email}]]</td>
                                                <td class="text-nowrap">[[${#calendars.format(user.dateRegistered,'HH:mm dd-MM-yyyy')}]]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <script>
                                require(['c3', 'jquery'], function (c3, $) {
                                    $(document).ready(function () {
                                        var chart = c3.generate({
                                            bindto: '#chart-user-count', // id of chart wrapper
                                            data: {
                                                url: '/admin/json/user-per-month',
                                                mimeType: 'json',
                                                type: 'area', // default type of chart
                                                groups: [
                                                    ['data1', 'data2', 'data3']
                                                ],
                                                colors: {
                                                    'data1': tabler.colors["green"]
                                                },
                                                names: {
                                                    // name of each serie
                                                    'data1': 'Tài khoản được tạo'
                                                }
                                            },
                                            axis: {
                                                y: {
                                                    padding: {
                                                        bottom: 0,
                                                    },
                                                    show: false,
                                                    tick: {
                                                        outer: false
                                                    }
                                                },
                                                x: {
                                                    padding: {
                                                        left: 0,
                                                        right: 0
                                                    },
                                                    show: false
                                                }
                                            },
                                            legend: {
                                                position: 'inset',
                                                padding: 0,
                                                inset: {
                                                    anchor: 'top-left',
                                                    x: 20,
                                                    y: 8,
                                                    step: 10
                                                }
                                            },
                                            tooltip: {
                                                format: {
                                                    title: function (x) {
                                                        return '';
                                                    }
                                                }
                                            },
                                            padding: {
                                                bottom: 0,
                                                left: -1,
                                                right: -1
                                            },
                                            point: {
                                                show: false
                                            }
                                        });
                                    });
                                });
                            </script>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Lượt đăng tin tuyển dụng</h3>
                                        </div>
                                        <div id="chart-job-count" style="height: 10rem"></div>
                                    </div>
                                    <script>
                                        require(['c3', 'jquery'], function (c3, $) {
                                            $(document).ready(function () {
                                                var chart = c3.generate({
                                                    bindto: '#chart-job-count', // id of chart wrapper
                                                    data: {
                                                        url: '/admin/json/job-per-month',
                                                        mimeType: 'json',
                                                        type: 'area', // default type of chart
                                                        groups: [
                                                            ['data1', 'data2', 'data3']
                                                        ],
                                                        colors: {
                                                            'data1': tabler.colors["red"]
                                                        },
                                                        names: {
                                                            // name of each serie
                                                            'data1': 'Số lượng tin tuyển dụng'
                                                        }
                                                    },
                                                    axis: {
                                                        y: {
                                                            padding: {
                                                                bottom: 0,
                                                            },
                                                            show: false,
                                                            tick: {
                                                                outer: false
                                                            }
                                                        },
                                                        x: {
                                                            padding: {
                                                                left: 0,
                                                                right: 0
                                                            },
                                                            show: false
                                                        }
                                                    },
                                                    legend: {
                                                        position: 'inset',
                                                        padding: 0,
                                                        inset: {
                                                            anchor: 'top-left',
                                                            x: 20,
                                                            y: 8,
                                                            step: 10
                                                        }
                                                    },
                                                    tooltip: {
                                                        format: {
                                                            title: function (x) {
                                                                return '';
                                                            }
                                                        }
                                                    },
                                                    padding: {
                                                        bottom: 0,
                                                        left: -1,
                                                        right: -1
                                                    },
                                                    point: {
                                                        show: false
                                                    }
                                                });
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Công ty mới</h3>
                                        </div>
                                        <div id="chart-company-count" style="height: 10rem"></div>
                                    </div>
                                    <script>
                                        require(['c3', 'jquery'], function (c3, $) {
                                            $(document).ready(function () {
                                                var chart = c3.generate({
                                                    bindto: '#chart-company-count', // id of chart wrapper
                                                    data: {
                                                        url: '/admin/json/company-per-month',
                                                        mimeType: 'json',
                                                        type: 'area', // default type of chart
                                                        groups: [
                                                            ['data1', 'data2', 'data3']
                                                        ],
                                                        colors: {
                                                            'data1': tabler.colors["blue"]
                                                        },
                                                        names: {
                                                            // name of each serie
                                                            'data1': 'Số lượng công ty mới'
                                                        }
                                                    },
                                                    axis: {
                                                        y: {
                                                            padding: {
                                                                bottom: 0,
                                                            },
                                                            show: false,
                                                            tick: {
                                                                outer: false
                                                            }
                                                        },
                                                        x: {
                                                            padding: {
                                                                left: 0,
                                                                right: 0
                                                            },
                                                            show: false
                                                        }
                                                    },
                                                    legend: {
                                                        position: 'inset',
                                                        padding: 0,
                                                        inset: {
                                                            anchor: 'top-left',
                                                            x: 20,
                                                            y: 8,
                                                            step: 10
                                                        }
                                                    },
                                                    tooltip: {
                                                        format: {
                                                            title: function (x) {
                                                                return '';
                                                            }
                                                        }
                                                    },
                                                    padding: {
                                                        bottom: 0,
                                                        left: -1,
                                                        right: -1
                                                    },
                                                    point: {
                                                        show: false
                                                    }
                                                });
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer-top :: footer-top"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>

</html>