<!doctype html>
<html lang="vi" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body class="">
    <div class="page">
        <div class="page-main">
            <div th:replace="fragments/header-top :: ca-header-top"></div>
            <div th:replace="fragments/header-bottom :: ca-header-bottom"></div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Lượt theo dõi</h3>
                                </div>
                                <div id="chart-luot-xem" style="height: 10rem"></div>
                                <div class="table-responsive 0-auto" style="height: 21rem">
                                    <table class="table card-table table-striped table-vcenter">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Người dùng</th>
                                                <th>Ngày theo dõi</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                            <tr>
                                                <td class="w-1"><span class="avatar" style="background-image: url(./demo/faces/male/9.jpg)"></span></td>
                                                <td>Ronald Bradley</td>
                                                <td class="text-nowrap">May 6, 2018</td>
                                                <td class="w-25"><a href="#" class="icon"><i class="fe fe-eye"></i> Xem
                                                        hồ sơ</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <script>
                                require(['c3', 'jquery'], function (c3, $) {
                                    $(document).ready(function () {
                                        var chart = c3.generate({
                                            bindto: '#chart-luot-xem', // id of chart wrapper
                                            data: {
                                                columns: [
                                                    // each columns data
                                                    ['data1', 0, 5, 1, 2, 7, 5, 6, 8, 24, 7, 12, 5, 6, 3, 2, 2, 6, 30, 10, 10, 15, 14, 47, 65, 55]
                                                ],
                                                type: 'area', // default type of chart
                                                groups: [
                                                    ['data1', 'data2', 'data3']
                                                ],
                                                colors: {
                                                    'data1': tabler.colors["blue"]
                                                },
                                                names: {
                                                    // name of each serie
                                                    'data1': 'Lượt theo dõi'
                                                }
                                            },
                                            axis: {
                                                y: {
                                                    padding: {
                                                        bottom: 0,
                                                    },
                                                    show: false,
                                                    tick: {
                                                        outer: false
                                                    }
                                                },
                                                x: {
                                                    padding: {
                                                        left: 0,
                                                        right: 0
                                                    },
                                                    show: false
                                                }
                                            },
                                            legend: {
                                                position: 'inset',
                                                padding: 0,
                                                inset: {
                                                    anchor: 'top-left',
                                                    x: 20,
                                                    y: 8,
                                                    step: 10
                                                }
                                            },
                                            tooltip: {
                                                format: {
                                                    title: function (x) {
                                                        return '';
                                                    }
                                                }
                                            },
                                            padding: {
                                                bottom: 0,
                                                left: -1,
                                                right: -1
                                            },
                                            point: {
                                                show: false
                                            }
                                        });
                                    });
                                });
                            </script>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Thống kê tin tuyển dụng</h3>
                                        </div>
                                        <div class="card-body o-auto" style="height: 13rem">
                                            <ul class="list-unstyled list-separated">
                                              <li class="list-separated-item" th:each="job : ${company.jobs}">
                                                <div class="row align-items-center">
                                                  <div class="col-8 col-sm-9">
                                                    <div>
                                                      <a th:href="'/job/'+${job.urlTitle}" class="text-inherit">[[${job.title}]]</a>
                                                    </div>
                                                    <small class="d-block item-except text-sm text-muted h-1x">[[${#calendars.format(job.dateCreated,'dd-MM-yyyy')}]]</small>
                                                  </div>
                                                  <div class="col-4 col-sm-3 text-right">
                                                    <p>[[${job.viewCount.count}]] lượt xem</p>
                                                  </div>
                                                </div>
                                              </li>
                                            </ul>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Thống kê bài đăng</h3>
                                        </div>
                                        <div class="card-body o-auto" style="height: 13rem">
                                            <ul class="list-unstyled list-separated">
                                              <li class="list-separated-item" th:each="post : ${company.posts}">
                                                <div class="row align-items-center">
                                                  <div class="col-8 col-sm-9">
                                                    <div>
                                                      <a th:href="'/post/'+${post.urlTitle}" class="text-inherit">[[${post.title}]]</a>
                                                    </div>
                                                    <small class="d-block item-except text-sm text-muted h-1x">[[${#calendars.format(post.dateCreated,'dd-MM-yyyy')}]]</small>
                                                  </div>
                                                  <div class="col-4 col-sm-3 text-right">
                                                    <p>[[${post.viewCount.count}]] lượt xem</p>
                                                  </div>
                                                </div>
                                              </li>
                                            </ul>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer-top :: footer-top"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>

</html>