<!doctype html>
<html lang="vi" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body class="">
    <div class="page">
        <div class="page-main">
            <div th:replace="fragments/header-top :: ca-header-top"></div>
            <div th:replace="fragments/header-bottom :: ca-header-bottom"></div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h1 class="page-title" th:text="${company.name}+' - Tuyển dụng'">
                        </h1>
                        <div class="page-options d-flex">
                            <a th:href="'/ca/job/add'" class="btn btn-primary"><i class="fe fe-plus mr-2"></i>Đăng tin tuyển dụng</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p th:if="${page.totalPages == 0}" class="h4 text-muted font-weight-normal mb-7">Chưa có
                                tin tuyển dụng nào!</p>
                        </div>
                        <div class="col-lg-6 col-sm-12" th:each="job : ${page.content}">
                            <div class="card card-aside">
                                <a th:href="'/job/'+${job.urlTitle}" class="card-aside-column" th:style="'background-image: url(/file/'+${company.logo}+')'"></a>
                                <div class="card-body p-2">
                                    <h4><a th:href="'/job/'+${job.urlTitle}" th:text="${job.title}">Tổ Trưởng Sản Xuất (Xưởng Hàn, Sơn,</a></h4>
                                    <div class="text-muted" th:text="${company.name}">Công ty THNH SX Vinfast</div>
                                    <div><i class="fe fe-map-pin"></i> [[${job.provinceOrCity.name}]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul th:if="${page.totalPages > 0}" class="pagination justify-content-center">
                        <li th:class="${page.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                            <a class="page-link" th:href="@{/ca/job/list(page=${page.number-1},size=${page.size},sort=${page.sort.getOrderFor('jobId').getDirection()})}"
                                tabindex="-1">Trang trước</a>
                        </li>
                        <th:block th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
                            <li th:class="${page.number == i} ? 'page-item active' : 'page-item'"><a class="page-link"
                                    th:href="@{/ca/job/list(page=${i},size=${page.size},sort=${page.sort.getOrderFor('jobId').getDirection()})}">[[${i}+1]]</a></li>
                        </th:block>
                        <li th:class="${page.hasNext()} ? 'page-item' : 'page-item disabled'">
                            <a class="page-link" th:href="@{/ca/job/list(page=${page.number+1},size=${page.size},sort=${page.sort.getOrderFor('jobId').getDirection()})}">Trang
                                sau</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer-top :: footer-top"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>

</html>