<!doctype html>
<html lang="vi" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body class="">
    <div class="page">
        <div class="page-main">
            <div th:replace="fragments/header-top :: ca-header-top"></div>
            <div th:replace="fragments/header-bottom :: ca-header-bottom"></div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-wrap p-lg-6">
                                        <p class="text-muted">(Ngày tạo:
                                            [[${#calendars.format(profile.dateCreated,'dd/MM/yyyy HH:ssa')}]], đã
                                            cập nhật
                                            <time class="timeago" th:datetime="${profile.dateUpdated}" th:text="${profile.dateUpdated}"></time>)</p>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Họ và tên
                                                    </td>
                                                    <td class="h5 font-weight-bold">
                                                        [[${profile.fullname}]]
                                                    </td>
                                                    <td rowspan="3" style="width: 10rem;">
                                                        
                                                        <img class="img-fluid rounded" th:src="${profile.avatarPicture != null} ? '/file/'+${profile.avatarPicture}">
                                                    
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Chức vụ
                                                    </td>
                                                    <td>
                                                        [[${profile.professionalTitle}]]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Cấp bậc hiện tại
                                                    </td>
                                                    <td>
                                                        [[${profile.jobLevel}]]
                                                    </td>
                                                </tr>
                                                <tr th:if="${profile.address != null}">
                                                    <td class="text-muted h5">
                                                        Địa chỉ
                                                    </td>
                                                    <td colspan="2">
                                                        [[${profile.address.street}+',
                                                        '+${profile.address.commune.name}+',
                                                        '+${profile.address.commune.cityOrDist.name}+',
                                                        '+${profile.address.commune.cityOrDist.provinceOrCity.name}]]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Số điện thoại
                                                    </td>
                                                    <td colspan="2">
                                                        [[${profile.phone}]]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Email
                                                    </td>
                                                    <td colspan="2">
                                                        [[${email}]]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Giới tính
                                                    </td>
                                                    <td colspan="2">
                                                        <i class="fa mr-2" th:classappend="${profile.gender == 'M'} ? 'fa-mars' : 'fa-venus'"></i>[[${profile.gender
                                                        == 'M'} ? 'Nam' : 'Nữ']]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Tình trạng hôn nhân
                                                    </td>
                                                    <td colspan="2">
                                                        [[${profile.martialStatus} ? 'Đã kết hôn' : 'Độc
                                                        thân']]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Ngày sinh
                                                    </td>
                                                    <td colspan="2">
                                                        [[${#calendars.format(profile.dateOfBirth,'dd-MM-yyyy')}]]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Giới thiệu bản thân
                                                    </td>
                                                    <td colspan="2">
                                                        [[${profile.summary}]]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Giáo dục
                                                    </td>
                                                    <td colspan="2">

                                                    </td>
                                                </tr>
                                                <tr th:each="education : ${profile.educations}">
                                                    <td>
                                                        <p class="font-weight-light">([[${#calendars.format(education.fromMonth,'MM/yyyy')}]]
                                                            -
                                                            [[${#calendars.format(education.toMonth,'MM/yyyy')}]])</p>
                                                    </td>
                                                    <td colspan="2">
                                                        <h5><i class="fe fe-award mr-3"></i>[[${education.qualification}]]
                                                            <span class="mx-3">•</span> [[${education.subject}]]</h5>
                                                        <p>[[${education.school}]]</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Kinh nghiệm làm việc
                                                    </td>
                                                    <td colspan="2">
                                                        [[${profile.employmentHistory}]]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-muted h5">
                                                        Kỹ năng nghề nghiệp
                                                    </td>
                                                    <td colspan="2">
                                                        <div class="tags">
                                                            <span class="tag font-weight-bold" th:each="skillList : ${profile.skillLists}">[[${skillList.skill.title}]]</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <script>
                                require(['jquery', 'timeago'], function ($, timeago) {
                                    jQuery(document).ready(function () {
                                        $("time.timeago").timeago();
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer-top :: footer-top"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>

</html>