<!doctype html>
<html lang="vi" dir="ltr">

<head th:replace="fragments/head :: head">
</head>

<body class="">
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <a href="/index.html"><img src="./demo/brand/tabler.svg" th:src="@{/demo/brand/tabler.svg}"
                                    class="h-6" alt=""></a>
                        </div>
                        <div class="card">
                            <div class="card-body p-6">
                                <div class="card-title">>>> Chọn loại tài khoản</div>
                                <div class="card-body">
                                    <a class="btn btn-outline-primary btn-block" href="/user">Tài khoản người dùng</a>
                                    <a class="btn btn-outline-primary btn-block" href="/im-company-admin">Tài khoản doanh nghiệp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>