<!doctype html>
<html lang="vi" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body class="">
    <div class="page">
        <div class="page-main">
            <div th:replace="fragments/header-top :: header-top"></div>
            <div th:replace="fragments/header-bottom :: header-bottom"></div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row">
                        <div th:replace="fragments/company-page-sidebar :: sidebar"></div>
                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-wrap p-lg-6">
                                        <script type="text/javascript">
                                            function loadCSS(filename) {
                                                var file = document.createElement("link");
                                                file.setAttribute("rel", "stylesheet");
                                                file.setAttribute("href", filename);
                                                document.head.appendChild(file);
                                            }
                                            loadCSS("/assets/css/viewer.min.css");
                                        </script>
                                        <!--<div class="owl-carousel owl-theme">
                                            <div class="card" th:each="pocompany : ${company.poCompanies}">
                                                <div class="d-block" th:data-original="'/file/'+${pocompany.photo}"
                                                    style="width:100%;height:10em;background-size:cover;background-position:center;"
                                                    th:styleappend="'background-image: url(/file/'+${pocompany.photo}+')'">
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="owl-carousel owl-theme" id="images">
                                            <div th:each="pocompany : ${company.poCompanies}">
                                                <img th:src="'/file/'+${pocompany.photo}" alt="Văn phòng" style="height: 10em;width: auto;">
                                            </div>
                                        </div>
                                        <script>
                                            require(['jquery', 'owl-carousel'], function ($) {
                                                jQuery(document).ready(function () {
                                                    $(".owl-carousel").owlCarousel({
                                                        margin: 5,
                                                        autoWidth:true,
                                                        loop: true,
                                                        autoplay: true,
                                                        autoplayTimeout: 3000,
                                                        responsive: {
                                                            0: {
                                                                items: 1
                                                            },
                                                            576: {
                                                                item: 2
                                                            },
                                                            768: {
                                                                items: 3
                                                            },
                                                        },
                                                    });
                                                });
                                            });
                                            require(['jquery', 'jquery-viewer'], function ($) {
                                                $('#images').viewer();
                                            });
                                        </script>
                                        <h2 class="mt-0 mb-4">Giới thiệu về công ty</h2>
                                        <p th:text="${company.description}"></p>
                                        <h3>Thông tin chung</h3>
                                        <p th:text="'Địa chỉ: ' + ${company.address.street}+', '+${company.address.commune.name}+', '+${company.address.commune.cityOrDist.name}+', '+${company.address.commune.cityOrDist.provinceOrCity.name}"></p>
                                        <p th:text="'Số điện thoại: ' + ${company.phone}"></p>
                                        <p th:text="'Email: ' + ${company.email}"></p>
                                        <p>Website: <a th:href="${company.website}" th:text="${company.website}"></a></p>
                                        <p th:text="'Năm thành lập: ' + ${company.establishedYear}"></p>
                                        <p>Lĩnh vực hoạt động:
                                            <a class="tag ml-3" th:each="comcat : ${company.companyCategories}" th:text="${comcat.category.name}"
                                                th:href="'/company?category='+${comcat.category.name}"></a>
                                        </p>
                                        <hr>
                                        <h3>Thông tin liên hệ</h3>
                                        <p th:text="'Người liên hệ: '+${company.contactName}"></p>
                                        <p th:text="'Email: '+${company.contactEmail}"></p>
                                        <p th:text="'Số điện thoại: '+${company.contactPhone}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer-top :: footer-top"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>

</html>