<!doctype html>
<html lang="vi" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body class="">
    <div class="page">
        <div class="page-main">
            <div th:replace="fragments/header-top :: header-top"></div>
            <div th:replace="fragments/header-bottom :: header-bottom"></div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 mb-4">
                            <div class="card card-profile">
                                <div class="card-header" style="background-image: url(/demo/photos/eberhard-grossgasteiger-311213-500.jpg);"></div>
                                <div class="card-body text-center">
                                    <img class="card-profile-img" th:src="'/file/'+${company.logo}">
                                    <h3 class="mb-3" th:text="${company.name}">FPT Software</h3>
                                    <p class="mb-4">
                                        
                                    </p>
                                    <button class="btn btn-outline-primary btn-sm">
                                        <span class="fa fa-plus"></span> Theo dõi
                                    </button>
                                </div>
                            </div>
                            <!-- Getting started -->
                            <div class="list-group list-group-transparent mb-0">
                                <a th:href="'/company/'+${company.urlName}+'/about'" class="list-group-item list-group-item-action active"><span
                                        class="icon mr-3"><i class="fe fe-flag"></i></span>Giới thiệu</a>
                            </div>
                            <!-- Components -->
                            <div class="list-group list-group-transparent mb-0">
                                <a th:href="'/company/'+${company.urlName}+'/product'" class="list-group-item list-group-item-action"><span
                                        class="icon mr-3"><i class="fe fe-alert-triangle"></i></span>Sản phẩn & Dịch vụ</a>
                                <a th:href="'/company/'+${company.urlName}+'/career'" class="list-group-item list-group-item-action"><span
                                        class="icon mr-3"><i class="fe fe-user"></i></span>Tuyển dụng</a>
                                <a th:href="'/company/'+${company.urlName}+'/post'" class="list-group-item list-group-item-action"><span
                                        class="icon mr-3"><i class="fe fe-plus-square"></i></span>Bài đăng</a>
                                <a th:href="'/company/'+${company.urlName}+'/review'" class="list-group-item list-group-item-action"><span
                                        class="icon mr-3"><i class="fe fe-feather"></i></span>Đánh giá</a>
                                <a href="javascript(0)" class="list-group-item list-group-item-action"><span
                                        class="icon mr-3"><i class="fe fe-alert-triangle"></i></span>Báo cáo thông tin sai</a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-wrap p-lg-6">
                                        <h2 class="mt-0 mb-4">Giới thiệu về công ty</h2>
                                        <p th:text="${company.description}"></p>
                                        <h3>Thông tin chung</h3>
                                        <p th:text="'Địa chỉ: ' + ${company.address.street}+', '+${company.address.commune.name}+', '+${company.address.commune.cityOrDist.name}+', '+${company.address.commune.cityOrDist.provinceOrCity.name}"></p>
                                        <p th:text="'Số điện thoại: ' + ${company.phone}"></p>
                                        <p th:text="'Email: ' + ${company.email}"></p>
                                        <p>Website: <a th:href="${company.website}" th:text="${company.website}"></a></p>
                                        <p th:text="'Năm thành lập: ' + ${company.establishedYear}"></p>
                                        <p>Lĩnh vực hoạt động: 
                                            <a class="tag ml-3" th:each="comcat : ${company.companyCategories}" th:text="${comcat.category.name}" th:href="'/company?category='+${comcat.category.name}"></a>
                                        </p>
                                        <hr>
                                        <h3>Thông tin liên hệ</h3>
                                        <p th:text="'Người liên hệ: '+${company.contactName}"></p>
                                        <p th:text="'Email: '+${company.contactEmail}"></p>
                                        <p th:text="'Số điện thoại: '+${company.contactPhone}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer-top :: footer-top"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>

</html>