<!doctype html>
<html lang="vi" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body class="">
    <div class="page">
        <div class="page-main">
            <div th:replace="fragments/header-top :: header-top"></div>
            <div th:replace="fragments/header-bottom :: header-bottom"></div>
            <div th:replace="fragments/job-search-block :: search-block"></div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Việc làm mới</h3>
                            </div>
                            <div class="card-body">
                                <div class="row row-cards">
                                    <div class="col-12 col-md-6 col-xl-4" th:each="job : ${page.content}">
                                        <div class="card card-aside">
                                            <a th:href="'/job/'+${job.urlTitle}" class="card-aside-column" th:style="'background-image: url(/file/'+${job.company.logo}+')'"></a>
                                            <div class="card-body p-2 clearfix">
                                                <h4><a th:href="'/job/'+${job.urlTitle}" th:text="${job.title}"></a></h4>
                                                <div class="text-muted" th:text="${job.company.name}"></div>
                                                <div><i class="fe fe-map-pin"></i> [[${job.provinceOrCity.name}]]</div>
                                                <div class="float-left"><i class="fe fe-dollar-sign"></i> [[${job.salary}]]</div>
                                                <div class="float-right mr-3">
                                                    <i class="fe fe-clock"></i>
                                                    [[${#calendars.format(job.dateExpired,'dd/MM/yyyy')}]]
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul th:if="${page.totalPages > 0}" class="pagination justify-content-center">
                                    <li th:class="${page.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                                        <a class="page-link" th:href="@{/job(page=${page.number-1},size=${page.size},sort=${page.sort.getOrderFor('jobId').getDirection()})}"
                                            tabindex="-1">Trang trước</a>
                                    </li>
                                    <th:block th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
                                        <li th:class="${page.number == i} ? 'page-item active' : 'page-item'"><a class="page-link"
                                                th:href="@{/job(page=${i},size=${page.size},sort=${page.sort.getOrderFor('jobId').getDirection()})}">[[${i}+1]]</a></li>
                                    </th:block>
                                    <li th:class="${page.hasNext()} ? 'page-item' : 'page-item disabled'">
                                        <a class="page-link" th:href="@{/job(page=${page.number+1},size=${page.size},sort=${page.sort.getOrderFor('jobId').getDirection()})}">Trang
                                            sau</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Việc làm theo ngành nghề</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-1" th:each="tag : ${tags}"><a th:href="@{/job/search(tag=${tag.tagId})}" th:text="${tag.title}"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer-top :: footer-top"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>

</html>