<!doctype html>
<html lang="vi" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body class="">
    <div class="page">
        <div class="page-main">
            <div th:replace="fragments/header-top :: header-top"></div>
            <div th:replace="fragments/header-bottom :: header-bottom"></div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p th:if="${page.totalPages == 0}" class="h4 text-muted font-weight-normal mb-7">Chưa
                                có
                                sản phẩm nào!</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3" th:each="product : ${page.content}">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-4 text-center">
                                        <img th:src="${product.productPictures.isEmpty()} ? '' : '/file/'+${product.productPictures.get(0).filename}"
                                            class="img-fluid">
                                    </div>
                                    <h4 class="card-title"><a href="javascript:void(0)" th:text="${product.name}">
                                        </a></h4>
                                    <div class="card-subtitle" th:text="${product.description}">
                                    </div>
                                    <div class="mt-5 d-flex align-items-center">
                                        <div class="ml-auto">
                                            <a href="javascript:void(0)" class="btn btn-primary">
                                                Chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul th:if="${page.totalPages > 0}" class="pagination justify-content-center">
                        <li th:class="${page.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                            <a class="page-link" th:href="@{/product(page=${page.number-1},size=${page.size},sort=${page.sort.getOrderFor('productId').getDirection()})}"
                                tabindex="-1">Trang trước</a>
                        </li>
                        <th:block th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
                            <li th:class="${page.number == i} ? 'page-item active' : 'page-item'"><a class="page-link"
                                    th:href="@{/product(page=${i},size=${page.size},sort=${page.sort.getOrderFor('productId').getDirection()})}">[[${i}+1]]</a></li>
                        </th:block>
                        <li th:class="${page.hasNext()} ? 'page-item' : 'page-item disabled'">
                            <a class="page-link" th:href="@{/product(page=${page.number+1},size=${page.size},sort=${page.sort.getOrderFor('productId').getDirection()})}">Trang
                                sau</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer-top :: footer-top"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>

</html>