<!doctype html>
<html lang="vi" dir="ltr">

<head th:replace="fragments/head :: head">
</head>

<body class="">
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6"><a href="/index.html">
                                <img src="./demo/brand/tabler.svg" class="h-6" alt="">
                            </a></div>
                        <form class="card" th:action="@{/registerProcess}" th:object=${user} method="post">
                            <div class="card-body p-6">
                                <div class="card-title">Tạo một tài khoản mới</div>
                                <div th:if="${error != null}" class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i> [[${error}]]
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Tên đăng nhập</label>
                                    <input type="text" class="form-control" placeholder="Nhập vào tên đăng nhập"
                                        th:field="*{username}" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Địa chỉ Email</label>
                                    <input type="email" class="form-control" placeholder="Nhập vào địa chỉ email"
                                        th:field="*{email}" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Mật khẩu</label>
                                    <input id="password" type="password" class="form-control" placeholder="Nhập vào mật khẩu"
                                        th:field="*{password}" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Nhập lại mật khẩu</label>
                                    <input id="confirm_password" type="password" class="form-control" placeholder="Xác nhận mật khẩu vừa nhập"
                                        required>
                                </div>
                                <script>
                                    var password = document.getElementById("password")
                                        , confirm_password = document.getElementById("confirm_password");
                                    function validatePassword() {
                                        if (password.value != confirm_password.value) {
                                            confirm_password.setCustomValidity("Mật khẩu không khớp");
                                        } else {
                                            confirm_password.setCustomValidity('');
                                        }
                                    }
                                    password.onchange = validatePassword;
                                    confirm_password.onkeyup = validatePassword;
                                </script>
                                <div class="form-group">
                                    <label class="custom-switch">
                                        <input id="field_terms" type="checkbox" class="custom-switch-input" required
                                            onchange="this.setCustomValidity(validity.valueMissing ? 'Vui lòng xác nhận rằng bạn đã đồng ý với các điều khoản dịch vụ' : '');" />
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Tôi đồng ý với <a href="terms.html">các
                                                điều
                                                khoản sử dụng dịch vụ</a></span>
                                    </label>
                                </div>
                                <script type="text/javascript">
                                    document.getElementById("field_terms").setCustomValidity("Vui lòng xác nhận rằng bạn đã đồng ý với các điều khoản dịch vụ");
                                </script>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Tạo tài khoản</button>
                                </div>
                            </div>
                        </form>
                        <div class="text-center text-muted">
                            Đã có tài khoản? <a href="/login">Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>