<!doctype html>
<html lang="vi" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body class="">
    <div class="page">
        <div class="page-content">
            <div class="container text-center">
                <h1 class="h2 mb-3">Đã gửi yêu cầu đến quản trị viên</h1>
                <p class="h4 text-muted font-weight-normal mb-7">Quản trị viên sẽ liên hệ với bạn sớm nhất</p>
            </div>
        </div>
    </div>
</body>

</html>