<!doctype html>
<html lang="vi" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body class="">
    <div class="page">
        <div class="page-main">
            <div th:replace="fragments/header-top :: header-top"></div>
            <div th:replace="fragments/header-bottom :: header-bottom"></div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row">
                        <div th:replace="fragments/user-page-sidebar :: sidebar"></div>
                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header">
                                        <h3 class="card-title">Các công việc đã lưu</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-12" th:each="savedJob : ${user.savedJobs}">
                                                <div class="card card-aside" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.09);">
                                                    <a th:href="'/job/'+${savedJob.job.urlTitle}" class="card-aside-column"
                                                        th:style="'background-image: url(/file/'+${savedJob.job.company.logo}+')'"></a>
                                                    <div class="card-body p-2 clearfix">
                                                        <h4><a th:href="'/job/'+${savedJob.job.urlTitle}" th:text="${savedJob.job.title}"></a></h4>
                                                        <div class="text-muted" th:text="${savedJob.job.company.name}"></div>
                                                        <div><i class="fe fe-map-pin"></i>
                                                            [[${savedJob.job.provinceOrCity.name}]]</div>
                                                        <div class="float-left"><i class="fe fe-dollar-sign"></i>
                                                            [[${savedJob.job.salary}]]</div>
                                                        <div class="float-right mr-3">
                                                            <i class="fe fe-clock"></i>
                                                            [[${#calendars.format(savedJob.job.dateExpired,'dd/MM/yyyy')}]]
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer-top :: footer-top"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>

</html>